name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build tools
        run: |
          gem install kramdown-rfc
          python -m pip install --upgrade pip
          python -m pip install --upgrade xml2rfc

      - name: Build
        run: make

      - name: Validate
        run: make check

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: draft-build
          path: build/
